
@import '../../node_modules/element-ui/lib/theme-chalk/index.css';


$--font-path: '../../node_modules/element-ui/lib/theme-chalk/fonts';
// 改变input datapicker高度
//$--input-height: 32px!default;
//$--button-padding-vertical: 7px !default;
//
//.el-icon-time, .el-date-editor .el-range-separator{
//  line-height: 25px!important;
//}
//
.el-dialog{
  width: 34%!important;
  .el-dialog__header{
    border-bottom:1px solid rgba(235, 235, 235, 1);
  }
}
.el-pagination {
    li{
      margin: 0 3px!important;
      border: 1px solid #ccc!important;
      border-radius: 4px;
      &.active{
        color: #fff!important;
        background: #409EFF;
        border:none!important;
      }
  }
  .btn-next, .btn-prev{
    padding: 0 6px!important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

@import "~element-ui/packages/theme-chalk/src/index";
