html, body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
  margin: 0;
  padding: 0;
}

body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  background: #f7f7f7;
  -webkit-text-size-adjust: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #2d374b;
  text-decoration: none;
}

a:hover {
  color: #2d374b;
}

em {
  font-style: normal;
}

li {
  list-style: none;
}

img {
  border: 0;
  vertical-align: middle;
}

/*!*滚动条*!*/
::-webkit-scrollbar {
  width: 8px;
  height: 14px;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.07)), color-stop(100%, rgba(229, 229, 229, 0.07)));
  background: -webkit-linear-gradient(left, rgba(202, 202, 202, 0.07) 0%, rgba(229, 229, 229, 0.07) 100%);
  background-color: rgba(229, 229, 229, .3);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .15) inset, 0 1px 0 0 #fff;
  overflow: visible;
  border-radius: 4px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: block;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(233, 233, 233, 0.05)), color-stop(100%, rgba(221, 221, 221, 0.05)));
  background: -webkit-linear-gradient(left, rgba(233, 233, 233, 0.05) 0%, rgba(221, 221, 221, 0.05) 100%);
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 0 #FFF;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .05), inset 1px 1px 0 0 #FFF;
  background-color: rgba(158, 148, 150, .5);
  overflow: visible;
  border-radius: 4px;
}



/*搜索条件*/
.queryCriteria {
  position: relative;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  padding: 28px 20px 18px;
  background: #fff;
  box-sizing: border-box;
}
.queryCriteria:after{
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10px;
  background: #fafafa;
}

/*主要内容*/
.content {
  width: 100%;
  padding: 16px 20px;
  background: #fff;
  box-sizing: border-box;
}
.content .dataTable{
  margin-top: 10px;
}


/* vue-treeselect */
.vue-treeselect__control{
  height: 32px!important;
  line-height: 30px!important;
}
/*.vue-treeselect__menu-container{*/
  /*width:240px!important;*/
  /*overflow: auto;*/
/*}*/
.vue-treeselect--has-value .vue-treeselect__multi-value{
  margin-bottom:0!important;
  line-height: 15px!important;
}
.vue-treeselect__multi-value-item-container{
  padding: 1px 2px 0 0!important;
}
/*.vue-treeselect__multi-value-item{*/
  /*padding: 0!important;*/
  /*border: none!important;*/
/*}*/

/*.vue-treeselect__multi-value-label{*/
  /*padding-right: 2px!important;*/
/*}*/
/*.vue-treeselect__value-remove{*/
  /*padding: 0!important;*/
/*}*/
/*.vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value .vue-treeselect__input-container{*/
  /*padding-top: 0!important;*/
  /*height: 0!important;*/
/*}*/
/*.vue-treeselect__input-container .vue-treeselect__input{*/
  /*padding: 0!important;*/
/*}*/
/*.vue-treeselect__limit-tip-text, .vue-treeselect__limit-tip, .vue-treeselect__value-remove, .vue-treeselect__multi-value-label{*/
  /*margin: 0!important;*/
  /*padding: 0!important;*/
/*}*/

/* diaglo */
.dialogBox{
  min-width: 1300px;
  overflow: auto;
}

/*分页*/
.pageBox {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

/*遮罩层*/
.v-modal{
  position: absolute!important;
}