
/* 改变主题色变量 */
// $--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
// $--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog{
  width: 34%!important;
  .el-dialog__header{
    border-bottom:1px solid rgba(235, 235, 235, 1);
  }
}
.el-pagination {
    li{
      margin: 0 3px!important;
      border: 1px solid #ccc!important;
      border-radius: 4px;
      &.active{
        color: #fff!important;
        background: #409EFF;
        border:none!important;
      }
  }
  .btn-next, .btn-prev{
    padding: 0 6px!important;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
